<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Window-target"content="_top">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title></title>
    </head>
    <body>
    	<div class="container">
			<p>赶快发送弹幕参与我们的活动</p>
		</div>
		<div class="submit">
			<button type="button" class="btn" ref="毕业了">毕业了</button>
			<button type="button" class="btn" ref="混社会咯">混社会咯</button>
			<button type="button" class="btn" ref="身体健康">身体健康</button>
			<button type="button" class="btn" ref="万事如意">万事如意</button>
		</div>

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
		<script type="text/javascript">
			var socket = io('http://demo.foowala.com');
 			$('.btn').on('click', function() {
				var subtext = $(this).text();
				console.log('submit', subtext)
 				if(subtext == '') {
					alert('请输入要发送的文字')
					return;
				}
				console.log("text:" + subtext);
				<% if(user) { %>
					var str = '<%=user.nickname%>:' + subtext;
				<% } else { %>
					var str = subtext;
				<% } %>
				
				socket.emit('message', str);
				// location.href="/end";
			});
		</script>
		<style>
		</style>
    </body>
</html>

